@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
.highlight{
    color: #ff008e;
}
.primary-button{
    outline: 0;
    border: 0;
    padding: 15px 20px;
    background-image: linear-gradient(90deg , #c21273 , #FF008E );
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 7px 0 #ff008c4b;
    position: relative;
    top: 0;

}
.primary-button:active{
    top: 5px;
    box-shadow: 0 2px 0 #ff008c4b;
}
body{
    font-family: 'Poppins', sans-serif;
}
/*----------
common css
---------
*/
.section-title{
    text-align: center;
}
.section-title h2{
    font-size: 40px;
    display: inline-block;
    text-transform: uppercase;
    border-bottom: 2px solid #ff008e;
    margin: 50px 0;

}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding:0 30px;
}
header{
    background-image: url('../images/cloud.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0,0,0,.6);
}
nav{
    display: flex;
    justify-content:space-between;
    height: 80px;
    align-items: center;
    
}


.navigation{
    display: flex;
}
.navigation li{
    list-style: none;
    margin: 20px;
    
    


}
.navigation li a{

    text-decoration: none;
    padding: 15px 20px;
    color: white;
    margin: 20px;
    font-weight: 600;

}
.banner{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height:calc(100vh-80px)
   
}
.banner-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.banner-left h1{
    color: white;
    font-size: 40px;
    }

.banner-left p{
    font-size: 18px;
    color: white;
    line-height: 1.5;
    margin: 20px 20px;
}
.banner-right{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.banner-right img{
    width: 100%;
}



/* Feature part css */


.feature{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    justify-content: center;
}
.card{
    width: 300px;
    padding: 30px;
    margin: auto;
    box-shadow: 0 30px 35px rgba(0, 0,0, .2) ;
}
.card .card-icon{
    background-color: #c21273;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    color: white;
}
.card h3{
    color:#ff008e ;
    font-size: 25px;
}
.card p{
    margin: 10px;
    line-height: 1.5;
}
.card a{
    text-decoration: none;
    color: #ff008e;
}



/* gallery part */

.gallery{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;

}
.photo img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border: 2px solid #c21273;
}

/* contact part */ 

.contact{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}
.contact-left img{
    width: 100%;
}
.contact-right form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.text-field{
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    font-family: inherit;
    outline: 0;
    border: 1px solid #c21273;
}
footer{
    margin-top: 25px;
    height: 5px;
    display: flex;
    justify-content: center;
    align-items: center;

}



/* responsive css */

@media (max-width : 950px) {
    .gallery{
        grid-template-columns: 1fr 1fr;
        
    }
    .banner-left h1{
        font-size: 35px;
    }
}
@media (max-width:800px) {
    .banner{
        grid-template-columns: 1fr;
        height: fit-content;
    }
    .feature,.gallery{
        grid-template-columns: 1fr;
    
    }
    .photo{
        text-align: center;
    }
    .photo img{
        max-width: 350px;
        
    }
    .banner-left{
        order: 2;
        padding: 50px 0;
    }
    .banner-right{
        order: 1;
    }
}
